## Importing Libraries

In [125]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score

Reading the csv file

In [126]:
data = pd.read_csv("temp.csv")
data.head()

,Table 1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Index,Fahrenheit,Celsius,Kelvin,NaN,NaN,NaN
1,1,300,148.8888889,422.0388889,NaN,NaN,NaN
2,2,310,154.4444444,427.5944444,NaN,NaN,NaN
3,3,230,110,383.15,NaN,NaN,NaN
4,4,273,133.8888889,407.0388889,NaN,NaN,NaN

In [127]:
data.columns = data.iloc[0]
data = data.drop(0)
data = data[["Index", "Fahrenheit", "Celsius", "Kelvin"]]
data.head()

0 Index Fahrenheit      Celsius       Kelvin
1     1        300  148.8888889  422.0388889
2     2        310  154.4444444  427.5944444
3     3        230          110       383.15
4     4        273  133.8888889  407.0388889
5     5        280  137.7777778  410.9277778

Dropping the missing value rows

In [128]:
data = data.dropna()

In [129]:
data.dtypes

0
Index         object
Fahrenheit    object
Celsius       object
Kelvin        object
dtype: object

Coverting the Data types of the columns.

In [130]:
data["Fahrenheit"] = data["Fahrenheit"].astype(int)
data["Celsius"] = data["Celsius"].astype(float)
data["Kelvin"] = data["Kelvin"].astype(float)

In [131]:
data.dtypes

0
Index          object
Fahrenheit      int64
Celsius       float64
Kelvin        float64
dtype: object

We're good to go here!

Now, set the target column to variable y and the rest to X

In [132]:
y = data["Celsius"]
X = data[["Fahrenheit", "Kelvin"]]

Let's split the data for training and validating

In [140]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, train_size=0.8)

now let's make a model with RandomForestRegressor
Train the model and make predictions

In [141]:
model = RandomForestRegressor()
model.fit(X_train, y_train)
preds = model.predict(X_valid)

In [148]:
mae = mean_absolute_error(y_valid, preds)
print("USING RANDOMFORESTREGRESSOR")
print("Mean error =", mae)

USING RANDOMFORESTREGRESSOR
Mean error = 0.8444444409999976

Now making a model using DecisionTreeRegressor

In [149]:
model_2 = DecisionTreeRegressor()
model_2.fit(X_train, y_train)
preds_2 = model_2.predict(X_valid)

In [150]:
mae = mean_absolute_error(y_valid, preds_2)
print("USING DECISIONTREEREGRESSOR")
print("Mean error =", mae)

USING DECISIONTREEREGRESSOR
Mean error = 2.6111111230000015

### If we compare the mean errors we can figure out that RandomForestRegressor performs well here!