## Importing Libraries

In [400]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

Reading the Data sets.

In [401]:
data_train = pd.read_csv("temp.csv")
data_test = pd.read_csv("temp_test.csv")

In [402]:
data_train.head()

,Table 1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Index,Fahrenheit,Celsius,Kelvin,NaN,NaN,NaN
1,1,10,-12.22222222,260.9277778,NaN,NaN,NaN
2,2,22,-5.555555556,267.5944444,NaN,NaN,NaN
3,3,32,0,273.15,NaN,NaN,NaN
4,4,1,-17.22222222,255.9277778,NaN,NaN,NaN

In [403]:
data_train.columns = data_train.iloc[0]
data_train = data_train[["Index", "Fahrenheit", "Celsius", "Kelvin"]]
data_train = data_train.dropna()
data_train = data_train.drop(0)
data_test.columns = data_test.iloc[0]
data_test = data_test[["Index", "Fahrenheit", "Kelvin", "Celsius"]]
data_test = data_test.dropna()
data_test = data_test.drop(0)
data_test.head()

0 Index Fahrenheit       Kelvin       Celsius
1     1          2  256.4833333  -16.66666667
2     2         60  288.7055556   15.55555556
3     3        300  422.0388889   148.8888889
4     4        312  428.7055556   155.5555556
5     5        273  407.0388889   133.8888889

Checking for missing values

In [404]:
mis_val = [mis for mis in data_test.columns if data_test[mis].isnull().any()]
mis_val

[]

In [405]:
data_test.dtypes

0
Index         object
Fahrenheit    object
Kelvin        object
Celsius       object
dtype: object

In [406]:
data_train[["Fahrenheit", "Kelvin", "Celsius"]] = data_train[["Fahrenheit", "Kelvin", "Celsius"]].astype(float)
data_test[["Fahrenheit", "Kelvin", "Celsius"]] = data_test[["Fahrenheit", "Kelvin", "Celsius"]].astype(float)
data_train["Index"] = data_train["Index"].astype(int)
data_test["Index"] = data_test["Index"].astype(int)

In [407]:
data_train[["Celsius", "Kelvin"]] = data_train[["Celsius", "Kelvin"]].round(decimals=3)
data_train.head()

0  Index  Fahrenheit  Celsius   Kelvin
1      1        10.0  -12.222  260.928
2      2        22.0   -5.556  267.594
3      3        32.0    0.000  273.150
4      4         1.0  -17.222  255.928
5      5        43.0    6.111  279.261

In [408]:
data_test.dtypes

0
Index           int64
Fahrenheit    float64
Kelvin        float64
Celsius       float64
dtype: object

In [431]:
X = data_train[["Fahrenheit", "Kelvin"]]
y = data_train["Celsius"]

We'll be splitting our training data now

In [474]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, train_size=0.8)

In [475]:
test_stats = data_test["Celsius"]

Good!
Now, let's train out model

Previously we've known that the RandomForestRegressor perfoms well on it so we'll be using RandomForestRegressor

In [476]:
model = RandomForestRegressor(n_estimators=1000, max_depth=20)
model.fit(X, y)
preds = model.predict(data_test[["Fahrenheit", "Kelvin"]])

In [477]:
mae = mean_absolute_error(test_stats, preds)
print("Mean error =", mae)

Mean error = 1.0742851677999274

Here we've achieved 99% Accuracy.
let's make a prediction file now

In [478]:
output = pd.DataFrame({'Index':data_test.Index, 'Celsius':preds})
output.to_csv('Predictions_Celsius.csv', index=False)
print("File Saved!")

File Saved!